Django                        
django-allauth                
djangorestframework          
djangorestframework-simplejwt
cryptography
drf-yasg
PyJWT
asgiref
mysqlclient
pytz
python-dateutil
sqlparse
PyJWT
requests
oauthlib
requests-oauthlib
gunicorn==20.1.0
openai
google-api-python-client
google-cloud
google-cloud-vision
google-cloud-aiplatform
numpy
sentence-transformers
pandas